.header{
    display:  flex;
    justify-content:  center;
    align-items:  center;
    width: 100vw;
}

.add{
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 40px;
    background: #1f1f1f;
}

.add:hover{
    background: #2a2a2a;
}

.form{
    position:  relative;
    margin: 12px;
}

.search{
    cursor:pointer;
    color: white;
}

.form:hover .input {
    background: #2a2a2a;
    border: 1px solid white;
}


.form .search{
    height: 48px;
    position: absolute;
    left: 8px;
    top: 6px;
    border:  none;
    background: transparent;
}

.input{
    padding: 12px;
    width: 320px;
    height: 32px;
    background: #1f1f1f;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
}

.input:hover{
    background: #2a2a2a;
    border: 1px solid white;
}