html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: white;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.App .footer{
  display: none;
}

.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  gap: 12px;
  padding: 12px;
  overflow-y: auto;
}

.video-list {
  flex: 1;
  border-radius: 24px;
  background: linear-gradient(#222222, #121212);
  padding: 20px;
  gap: 20px;
}

.video-item {
  text-align: center;
}

.video-item video {
  object-fit: cover;
  border-radius: 8px;
  background-color: #000;
  cursor: pointer;
  width: 100%;
}


.App.video-is-fullscreen .header {
  display: none;
}

.App.video-is-fullscreen .main {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App.video-is-fullscreen .video-item {
  display: none;
}

.App.video-is-fullscreen .video-item.is-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App.video-is-fullscreen .video-item.is-active p {
  display: none;
}

.App.video-is-fullscreen .video-item.is-active video {
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.App.video-is-fullscreen .footer {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0.2, 0.1, 0.3, 0.8), transparent);
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 20;
}

video {
  width: 100%;
  height: 100%;
}