html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

.main {
  flex: 1;
  display: flex;
  gap: 12px;
  padding: 12px;
  overflow-y: auto;
}

.post-list {
  flex: 1;
  border-radius: 24px;
  background: linear-gradient(#222222, #121212);
  padding: 20px;
  gap: 20px;
}
}
