svg{
    height:28px;
    width:28px;
    fill:gray;
}

svg:hover{
    fill:white;
}

.black-fill{
    fill:black;
}

.black-fill:hover{
    fill:black;
}

.close{
    height:14px;
    width:14px;
}

.close{
    height:14px;
    width:14px;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.close:hover{
    transform: scale(1.4);
}